h1{
    color: aquamarine;
}
table {
	margin: 100px auto;
	border: 1px solid lightgray;
    background-color: greenyellow;
    height: 400px;
    width: 400px;
    
}

.cell {
	width: 40px;
	height: 40px;
	font-size: 1.5em;
    color: blueviolet;
    

    
    

}
    body {
        background-color:gray;
        text-align: center;
        color: lightgray;
    }
.life{
/* margin-right: 300px; */
padding-right: 800px;


}