h2{
    color: aquamarine;
}
table {
	margin: 100px auto;
	border: 1px solid lightgray;
    background-color: greenyellow;
    height: 400px;
    width: 400px;
    
}

.cell {
	width: 40px;
	height: 40px;
	font-size: 1.5em;
    color: blueviolet;


}
    body {
        background-color:gray;
        text-align: center;
        color: rgb(211, 211, 211);
    }
.life{
/* margin-right: 300px; */
padding-right: 800px;


}
.hint{
    padding-right: 800px;
    padding-top: 30px;
    width: -300px;
}
.markSafe{
    background-color: red;
    border-radius:400px ;
}

/* .Game{
background-color: black;
} */

.botDark{
background-color:gold;
text-align: center;
color: black;
border-radius:400px ;
/* border-radius: 150px; */
}
.Dark{
    padding-left: 800px;
padding-top: 50px;
}
/* .mega{

} */
.madbir{
    /* margin-right: 800px; */
    /* margin-top: 50px; */
    /* border-radius:400px ;  */
    /* width: 120px; */
    background-color:peru;
}
.Manuelly{
margin-left: 700px;
margin-top: 20px;
border-radius:400px ;
background-color: lightcoral;
}
.Text{
    margin-left: 800px;
border-radius:400px ;
/* background-color: lightcoral; */
}
.Mega{
    background-color: blueviolet;
    color: azure;
    border-color: aquamarine;
    border-radius:400px ;
}
.levelBot{
    background-color:yellow;
    color: green;
    border-color: aquamarine;
    border-radius:400px ;
}
.Back{
    /* margin-left: 900px; */
    /* margin-top: 50px; */
    border-radius:400px ; 
    /* width: 80px; */
    background-color:turquoise;
}
/* .safe{
    padding-left: 800px;
padding-top: 50px; 
} */

