h2{
    color: aquamarine;
}
table {
	margin: 100px auto;
	border: 1px solid lightgray;
    background-color: greenyellow;
    height: 400px;
    width: 400px;
    
}

.cell {
	width: 40px;
	height: 40px;
	font-size: 1.5em;
    color: blueviolet;


    
    

}
    body {
        background-color:gray;
        text-align: center;
        color: rgb(211, 211, 211);
    }
.life{
/* margin-right: 300px; */
padding-right: 800px;


}
.hint{
    padding-right: 800px;
    padding-top: 30px;
}
.markSafe{
    background-color: red;
    border-radius:400px ;
}



.botDark{
background-color:gold;
text-align: center;
color: black;
border-radius:400px ;
/* border-radius: 150px; */
}
.Dark{
    padding-left: 900px;
padding-top: 50px;
}
/* .mega{

} */
.Manuelly{
margin-left: 900px;
border-radius:400px ;
background-color: lightcoral;
}
.Text{
    margin-left: 900px;
border-radius:400px ;
/* background-color: lightcoral; */
}
.Mega{
    background-color: blueviolet;
    color: azure;
    border-color: aquamarine;
    border-radius:400px ;
}
.levelBot{
    background-color:yellow;
    color: green;
    border-color: aquamarine;
    border-radius:400px ;
}
